<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HcBimUtils" version="2021.0.10" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2022.3.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Nice3point.Revit.Api.RevitAPI" version="2021.1.50" targetFramework="net48" />
  <package id="Nice3point.Revit.Api.RevitAPIUI" version="2021.1.50" targetFramework="net48" />
  <package id="Nice3point.Revit.Extensions" version="2021.2.0" targetFramework="net48" />
  <package id="Nice3point.Revit.Toolkit" version="2021.1.1" targetFramework="net48" />
</packages>